* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif; 
  }
  
  h2 {
    text-align: center;
    font-size: 20px;
  }
  
  /* Header styling */
  header {
    width: 100%;
    background-color: #5E69B0; 
    padding: 20px 0;
    text-align: center; 
  }
  
  /* Title styling */
  #title-joe {
    font-family: 'Tahoma', sans-serif; 
    font-size: 36pt; 
    color: white;
    margin: 0; 
  }
  
  form {
    width: 100%; 
    max-width: 100%; 
    background: white; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    flex-grow: 1; 
    overflow-y: auto; 
    margin: 0 auto; 
    box-sizing: border-box; 
  }
  
  .form-group {
    margin-bottom: 15px; 
  }

  /* Fun Colors */
  
  .info-icon {
    cursor: pointer; 
    color: #3a49a9; /* border color */
    margin-left: 5px; 
  }
  
  .description {
    display: none; 
    font-size: 12px;
    color: #2f3e7b; /* description color */
  }
  
  label span {
    color: #6f7fdb; /* [?] color */
  }

  label {
    color: #2f3e7b; /* Criteria color*/
  }


  input[type="number"], 
  input[type="text"], 
  select { 
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  
  .button-container {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px; 
  }
  
  button {
    padding: 10px 20px;
    background-color: #D7DDFF;
    color: black; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
  }
  
  button:hover {
    background-color: #5E69B0; 
  }
  
  /* Footer styling */
  footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #5E69B0;
    color: white;
    font-size: 18pt;
    padding: 25px; 
    margin-top: 10px; 
  }
  
  footer ul {
    display: flex;
    gap: 20px; 
    list-style: none;
  }
  
  footer ul li {
    text-align: center;
  }
  
  footer ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }

  #optionsForm {
    display: none;
  }


