* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center; 
    background-color: #5E69B0;
    color: white;
    font-size: 12pt;
    padding: 20px;
}

main {
    background-color: white;
    color: black;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #5E69B0;
    color: white;
    font-size: 18pt;
    padding: 25px; 
}

footer ul {
    display: flex;
    gap: 20px; 
    list-style: none;
}

footer ul li {
    text-align: center;
}

footer ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

footer ul li a:hover {
    text-decoration: underline;
}

#introduction-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}

#overview-features{
    display: flex;
    flex-direction: row;
    background-color: #E9EAF1;
    color: black;
    width: fit-content;
    padding: 60px;
}

#overview-features img{
    border-radius: 50px;
}


#overview-content{
    font-size: 20pt;
    font-weight:500;
    padding-top: 50px;
    text-align: center;
    line-height: 1.5;
    padding-right: 25px;


}

#title-joe{
    font-family: Tahoma, sans-serif;
    font-size: 30pt;
}

#start-as-guest{
    font-size: 18pt;
    padding: 20px;
    border-radius: 50px;
    color: white;
    background-color: #5E69B0;
    margin-top: 20px;
    margin-bottom: 10px;

}

#login-index{
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;

    
}




