/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:white;
}
header {
    background-color: #5E69B0;
    color: white;
    padding: 20px;
    text-align: center;
}

form {
    background-color:white;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
    color:black;
}

label[for="fileInput"]:hover {
    display: inline-block;
    background-color:#5E69B0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

input[type="file"]:hover {
    background-color:#5E69B0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    transition:  0.3s ease;
}














